/* General Styling */
body {
    font-family: Arial, sans-serif;
}

/* Improve spacing */
h1, h2 {
    color: #333;
}

/* API cards */
#api-results img {
    width: 100%;
    border-radius: 10px;
}

/* Responsive Design */
/* Tablet */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }
}

/* Mobile */
@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .navbar-brand {
        font-size: 1rem;
    }
}